# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

data/
output/models/kmeans/*
output/models/kmeans/*
output/s2/*
output/dw/*

# Virtual environments
venv/
.env/
.venv/
env/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Ruff
.ruff_cache/

# C extensions
*.so

# SQLite
*.sqlite3
